---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700,900&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.8rem;
  color: #3e3e3e;
}

.wrapper {
  max-width: 80% !important;
}

.site-title {
  font-weight: 600;
  color: #1083ff !important;;
}

.app-icon {
  float: left;
  margin-right: 15px;
  width: 56px;
}

.home-wrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;

  .home-wrapper-header {
    min-width: 60%;

    .page-heading {
      margin-bottom: 30px;
      font-family: 'Noto Sans TC', sans-serif !important;
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 4rem;
      color: #1083ff;
    }

    .store-badge-container {
      margin-top: 50px;
      margin-bottom: 90px;

      .store-badge-link {
        display: block;

        .store-badge-image {
          height: 60px;
        }
      }
    }

  }

  .banner-image {
    width: 100%;
  }

}


.features-container {
  border-top: 1px solid #dadada;
  padding: 3rem 0px 3rem 0px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  .feature {
    text-align: center;
    width: 30%;

    .feature-image {
      width: 90%;
      border-radius: 15px;
      margin-bottom: 30px;
    }

    .feature-title {
      font-weight: 600;
    }
  }
}

.testimonial {
  padding: 3rem 0px 3rem 0px;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  text-align: center;
  margin-bottom: 60px;
}

.content {
  padding-bottom: 3rem;
  border-bottom: 1px solid #dadada;
  margin-bottom: 3rem;

  .content-title {
    font-weight: 600;
  }
}

.about-us-container {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;

  .person {
    width: 40%;
    text-align: center;

    .person-image {
      width: 80%;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    .person-name {
      font-weight: 600;
    }

    .person-description {

    }
  }
}
